.encabezado {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #c6c2f0;
  padding: 15px 40px;

  max-width: 1100px;
  margin: 20px auto;
  border-radius: 8px;

  box-sizing: border-box;
}

/* Logo */
.logo img {
  width: 70px;
}

/* Menú */
.menu {
  flex: 1;
  display: flex;
  justify-content: center;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.menu ul li a {
  text-decoration: none;
  color: #3b4bff;
  font-weight: 600;
  font-size: 16px;
  position: relative;
}

/* Efecto hover en menú */
.menu ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: #1a1aff;
  transition: width 0.3s;
}

.menu ul li a:hover::after {
  width: 100%;
}

/* Redes sociales */
.redes {
  display: flex;
  gap: 15px;
}

.redes img {
  width: 30px;
  cursor: pointer;
  transition: transform 0.3s;
}

.redes img:hover {
  transform: scale(1.15);
}
